.promo-slider {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  max-width: 1100px;
  margin: 30px auto;
  border-radius: 40px;
  padding: 20px 40px;
  position: relative;
  overflow: hidden;
  height: 150px;
  transition: background-color 0.5s ease;
}

.promo-image img {
  width: 220px;
  height: 130px;
  border-radius: 20px;
}

.promo-text {
  flex: 1;
  padding-left: 30px;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.promo-text h2 {
  font-size: 28px;
  font-weight: bold;
  margin-bottom: 10px;
  color: #1e1e1e;
}

.promo-text p {
  font-size: 18px;
  color: #333;
  margin-bottom: 20px;
}

.shop-btn {
  position: absolute;
  right: 40px;
  top: 50%;
  transform: translateY(-50%);
  background-color: #111;
  color: #fff;
  border: none;
  padding: 12px 28px;
  font-size: 16px;
  border-radius: 14px;
  cursor: pointer;
  z-index: 2;
}

.arrow {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  width: 40px;
  height: 40px;
  font-size: 20px;
  background-color: rgb(218, 23, 23);
  border: 2px solid black;
  border-radius: 50%;
  cursor: pointer;
  box-shadow: 0 2px 6px rgba(0, 0, 0, 0.2);
  z-index: 10;

  display: flex;
  align-items: center;
  justify-content: center;
}

/* Show half of the button outside the card */
.arrow.left {
  left: -20px; /* Half of width (40px) → 20px out */
}

.arrow.right {
  right: -20px;
}
